
#__next {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

footer,
footer.MuiAppBar-root {
    align-self: flex-end;
    margin-top: auto;
    padding: 1rem;
    column-count: 2 !important;
    display: block !important;
    font-size: 1rem;
    box-shadow: none !important;
    border: none !important;
    border-top: none !important;
}

footer a {
    color: white;
    font-weight: bold;
}
