.news {
    max-width: min(63rem, 95vw);
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
    background-color: white;
}

.news p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
}
